<%# Depending if searched is true or false, it will change the navbar, since the second will move the searchbar inside the navbar. %>
<% if (searched === true) { %>
<%- include("partials/cardpage-header.ejs") %>
<% } else { %>
<%- include("partials/homepage-header.ejs") %>
<% } %>

<%# As mentioned before, depending if true or false, it will change the info that will appear in the main page, if false, it will show the search bar and invite the user to input something, if already searched (searched equals to true), it will show the card information in the order below. %>
<main>
    <% if (searched === true){ %>
    <div class="card-container">
        <h2><%= cardName %></h2>
        <p><em><%= cardRarity %></em></p>
        <img src="<%= cardImage %>" alt="pokémon card illustration" id="cardImg">
        <p><%= cardReleaseDate %></p>
        <p class="price"><%= cardSellingPrice %></p>
    </div>
    <% } else { %>
    <div class="search-bar-container">
        <h2>Enter Pokémon or Card Name</h2>
        <form action="/search" id="form" class="form" method="POST">
            <input type="text" placeholder="Search" name="name" required>
            <button type="submit" class="btn-home">Search</button>
        </form>
    </div>
    <% } %>
</main>

<%- include("partials/footer.ejs") %>