<% if (searched === true) { %>
<%- include("partials/cardpage-header.ejs") %>
<% } else { %>
<%- include("partials/homepage-header.ejs") %>
<% } %>


<main>
    <% if (searched === true){ %>
    <div class="card-container">
        <h2><%= cardName %></h2>
        <p><em><%= cardRarity %></em></p>
        <img src="<%= cardImage %>" alt="pokémon card illustration" id="cardImg">
        <p><%= cardReleaseDate %></p>
        <p class="price"><%= cardSellingPrice %></p>
    </div>
    <% } else { %>
    <div class="search-bar-container">
        <h2>Enter Pokémon or Card Name</h2>
        <form action="/search" id="form" class="form" method="POST">
            <input type="text" placeholder="Search" name="name" required>
            <button type="submit" class="btn-home">Search</button>
        </form>
    </div>
    <% } %>
</main>

<%- include("partials/footer.ejs") %>